@model Kontrola.Models.Cliente
@{
    ViewData["Title"] = "Delete";
}
<h1>Deletar cliente</h1>
<hr />
<div class="d-flex justify-content-center mt-5">
    <dl class="row g-3 w-75 mt-3 border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneDois)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefoneDois)
        </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ClienteId" />
            <button type="button" value="Delete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Deletar</button>
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  ">
                    <div class="modal-content w-100 ">
                        <div class="modal-header">
                            <h1 class="modal-title  " id="exampleModalLabel">Deletar cliente</h1>
                        </div>
                        <div class="modal-body">
                            <spam class="fw-bolder danger-text-emphasis">Tem certeza que você quer deletar este cliente?</spam>
                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" value="Delete" class="btn btn-danger">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" asp-action="Index">Cancelar</a>
        </form>
    </dl>
</div>
