@model Kontrola.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do cliente</h1>
<hr />
<div class="d-flex justify-content-center mt-5">

    <dl class="row g-3 w-75 mt-3 border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneDois)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefoneDois)
        </dd>
        <div>
            
            <a class="btn btn-danger" asp-action="Index">Voltar</a>
            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.ClienteId">Editar ?</a>
        </div>

    </dl>
</div>
