@model IEnumerable<Kontrola.Models.Cliente>
@{
	ViewData["Title"] = "Index";
}
<h1>Clientes</h1>
<p>
	<a class="btn btn-success shadow rounded" asp-action="Create">Novo cliente</a>
</p>
<table class="table shadow-lg p-3 mb-5 bg-body-tertiary rounded">
	<thead>
		<tr class="table-info">
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cnpj)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TelefoneDois)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cnpj)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TelefoneDois)
				</td>
				<td>
					<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a>
					<a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
