<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kontrola</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kontrola.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        .nav-link {
            transition: all 0.2s ease-in-out;
        }
    </style>

</head>
<body>

    <header>
        <nav class="navbar navbar-dark bg-primary bg-gradient">
            <div class="container-fluid d-flex justify-content-between">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-center flex-grow-1">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Kontrola</a>
                </div>
                @await Html.PartialAsync("_LoginPartial")
                <div style="opacity: 0;">
                    <button class="btn btn-primary" style="visibility: hidden;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body text-center fs-3">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item me-3">
                        <a class="nav-link text-dark @(ViewBag.OpcaoMenu == 1 ? "active bg-light border rounded shadow" : "")" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Membro"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark @(ViewBag.OpcaoMenu == 2 ? "active bg-light border rounded" : "")" asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item me-3">
                            <a class="nav-link text-dark @(ViewBag.OpcaoMenu == 3 ? "active bg-light border rounded" : "")" asp-area="" asp-controller="Equipamentos" asp-action="Index">Equipamentos</a>
                        </li>

                        <li class="nav-item me-3">
                            <a class="nav-link text-dark @(ViewBag.OpcaoMenu == 5 ? "active bg-light border rounded" : "")" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>

                        <li class="nav-item me-3">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" style="color:white">&nbsp;Registrar novos usuarios</a>
                        </li>

                    }

                </ul>
            </div>

        </div>
    </header>



    <div class="container h-100 ">
        <main role="main" class="pb-3 w-100 h-100 p-3 text-dark ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Kontrola - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
