@model Kontrola.Models.Chamado

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Chamado</h1>
<hr />
<div class="d-flex justify-content-center mt-5">

    <dl class="row g-3 w-75 mt-3 border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFechamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFechamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pendencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pendencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conclusao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conclusao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modalidade.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gravidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gravidade.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Urgencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Urgencia.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tendencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tendencia.Descricao)
        </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ChamadoId" />
            <button type="button" value="Delete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Deletar</button>
            <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  ">
                    <div class="modal-content w-100 ">
                        <div class="modal-header">
                            <h1 class="modal-title  " id="exampleModalLabel">Deletar cliente</h1>
                        </div>
                        <div class="modal-body">
                            <spam class="fw-bolder danger-text-emphasis">Tem certeza que você quer deletar este chamado?</spam>
                        </div>
                        <div class="modal-footer ">                           
                            <button type="submit" value="Delete" class="btn btn-danger">Deletar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" asp-action="Index">Cancelar</a>
        </form>
    </dl>


</div>