@model IEnumerable<Kontrola.Models.Chamado>

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de Chamados</h1>
<hr />
@* <p>
    <a asp-action="Create" class="btn btn-success shadow rounded">Novo chamado</a>
</p> *@
<div class="table-responsive">
    <table class="table shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <thead>
            <tr class="text-uppercase fw-bold text-center table-info">
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modalidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gravidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Urgencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tendencia)
                </th>
                <th>
                    <p>Ações</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modalidade.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gravidade.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Urgencia.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tendencia.Descricao)
                    </td>
                    <td>
                        <a class="btn btn-secondary " asp-action="Details" asp-route-id="@item.ChamadoId">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
