@model IEnumerable<Kontrola.Models.Chamado>

@{
    ViewData["Title"] = "Index";
}
<h1>Chamados</h1>

<p>
    <a asp-action="Create" class="btn btn-success shadow rounded">Novo chamado</a>
</p>
<div class="table-responsive">
    <table class="table shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFechamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conclusao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modalidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gravidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Urgencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tendencia)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFechamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conclusao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modalidade.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gravidade.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Urgencia.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tendencia.Descricao)
                    </td>
                    <td>
                        <a class="btn btn-warning " asp-action="Edit" asp-route-id="@item.ChamadoId">Editar</a>
                        <a class="btn btn-secondary " asp-action="Details" asp-route-id="@item.ChamadoId">Detalhes</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ChamadoId">Preencher</a>
                        <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.ChamadoId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
