@model Kontrola.Models.Equipamento
@{
    ViewData["Title"] = "Details";
}
<h1>Detalhes do equipamento</h1>
<hr />
<div class="d-flex justify-content-center mt-5">
    <dl class="row g-3 w-75 mt-3 border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cnpj)
        </dd>
        <div>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.EquipamentoId">Editar</a>
            <a class="btn btn-danger" asp-action="Index">Voltar</a>
        </div>
    </dl>
</div>